target
.scannerwork
**/target
**/.scannerwork
sonar_lint_messages.json

creedengo-rust-sonar/sonarqube_logs/*
creedengo-rust-sonar/sonarqube_data/*

!creedengo-rust-sonar/sonarqube_logs/create.me
!creedengo-rust-sonar/sonarqube_data/create.me